@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
*, *:before, *:after {
  box-sizing: border-box;
}

li{
    list-style-type: none;
}

ul{
    margin:0;
    padding:0;
    max-width: 100%;
}
body {
  background: #EF8829;
  font: 14px/20px "Lato", Arial, sans-serif;
  color: white;
}
.container {
  margin: 0 auto;
  width: 100%;
  background: #444753;
  border-radius: 5px;
}
.chat {
  max-width: 100%!important;
  background: #fff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #434651;
  padding: 10px;
}
.chat .chat-header {
  margin-left: -5%;
  width: 100%;
  position: fixed;
  background-color: #EF8829;
  z-index: 999;
  margin-top: -5%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chat .chat-header img {
  float: left;
}
.chat .chat-header .chat-about {
  float: left;

}
.chat .chat-header .chat-with {
  font-weight: bold;
  font-size: 16px;
}

.chat .chat-history {
  /* padding: 30px 30px 20px; */
  padding-top: 50px;
  border-bottom: 2px solid white;
  overflow-y: scroll;
  height: 575px;
  max-width: 100%;
}
.chat .chat-history .message-data {
  margin-bottom: 15px;
}
.chat .chat-history .message-data-time {
  color: #a8aab1;
  padding-left: 6px;
}
.chat .chat-history .message {
  color: white;
  padding: 18px 20px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 7px;
  margin-bottom: 30px;
  max-width: 90%;
  width: fit-content;
  position: relative;
}
/* .chat .chat-history .message:after {
  bottom: 100%;
  left: 7%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #86bb71;
  border-width: 10px;
  margin-left: -10px;
} */
.chat .chat-history .my-message {
  background: #86bb71;
}
.chat .chat-history .other-message {
  background: #EF8829;
}
/* .chat .chat-history .other-message:after {
  border-bottom-color: #94c2ed;
  left: 93%;
} */
.chat .chat-message {
  padding: 30px;
}
.chat .chat-message textarea {
  width: 100%;
  border: none;
  padding: 10px 20px;
  font: 14px/22px "Lato", Arial, sans-serif;
  margin-bottom: 10px;
  border-radius: 5px;
  resize: none;
  background-color: rgb(231, 231, 231);
}
.chat .chat-message textarea:focus {
  /* outline-color: #EF8829; */
  border: 1px solid #EF8829;
  outline:0;
}

.chat .chat-message .fa-file-o, .chat .chat-message .fa-file-image-o {
  font-size: 16px;
  color: gray;
  cursor: pointer;
}
.chat .chat-message input[type=submit] {
  float: right;
  color: #EF8829;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-weight: bold;
  background: transparent;
}
.chat .chat-message input[type=submit]:hover {
  color: #75b1e8;
}
.online, .offline, .me {
  margin-right: 3px;
  font-size: 10px;
}
.online {
  color: #86bb71;
}
.offline {
  color: #e38968;
}
.me {
  color: #94c2ed;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.float-right {
  float: right;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

#optionoverlay{
  position: fixed;
  background: rgb(255, 182, 113);
  top: 60px!important;
  right: 2.25%;
  z-index: 999999999;
  /* height: 100px; */
  -webkit-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.75);
box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.75);
padding: 10px;
display: none;
}