

.mySlides {
    margin-top: 100px;
}
.formDiv {
    margin-top: 120px;
}
#products-cat{
    display: flex;
    flex: 1;
    flex-direction: row;
    border-bottom: solid #ef8829 !important;
    border: none;
     justify-content: center;
     width: 100%;
     margin-top: 5%;
     justify-content: space-around;
     border: solid green;
}

#products-input{
display: flex;
    flex: 1;
    flex-direction: row;
    outline: none;
    justify-content: center;
    border: none;
    border: none;
    border-radius: 20px;
    box-sizing: content-box;
    -webkit-appearance: none;
}

#products-container{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex: 2;
    flex-direction: row;
    justify-content: space-around;    
    align-items: center;
}


.products-top-bar{
    display: flex;
    flex: 2;
    flex-flow: row;
    margin-top: 80px;
}
.products-item-image {
    width: 150px;
    height: 150px;
}

#knop{
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #ef8829;
    text-align: center;
    cursor: pointer;
    width: 80%;
    margin: 0 auto;
    font-size: 18px;
}

#knop a, #knop:visited{
    color: white;
    text-decoration: none;
} 


.products-item{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 300px;
        margin: auto;
        text-align: center;
        margin-top: 50px;
        font-size: 18px;
}

button a {
    padding: 25px;
    color: white;
    text-decoration: none;
    font-size: 18px;
}


h1 {
	margin-top: 25%;
	color: #ef8829;
	text-align: center;
}

